* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  font-family: cursive;
  margin-top: 20px;
}
body {
  /* background: linear-gradient(90deg, black, white, black); */
  background: linear-gradient(90deg, skyblue, white);
  /* background: #222; */
  /* animation: spin 5s ease-in-out  infinite; */
}

/* @keyframes spin {
    0%{
        background: linear-gradient(90deg, black, white);
    }
    100%{
        background: linear-gradient(90deg,white,rgb(213, 213, 122),black);
    }
} */

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(140deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  font-family: sans-serif;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 40px;

  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.error {
  margin-top: 20px;
  font-size: 15px;
  display: none;
}

.search button img {
  width: 14px;
  padding-top: 2px;
}

.Weather-icon {
  width: 170px;
  margin-top: 20px;
}

.weather h1 {
  font-size: 50px;
  font-weight: 500;
}

.weather h2 {
  font-size: 30px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
}

.col img {
  width: 50px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}
